/* FONT-FACE  */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff2") format("woff2"),
  url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.woff2") format("woff2"),
  url("../fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* LOADER */
.loader-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1c204b;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.loader-wrapper--none {
  pointer-events: none;
  opacity: 0;
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px}
  100% { height: 4px}
}

/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0e1323;
  color: #ffffff;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 56px;
  line-height: auto;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(black);
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.changer {
  max-width: 255px;
  width: 100%;
  background-color: #1c204b;
  border-radius: 15px;
  overflow: hidden;
}

.changer__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 37px 32px;
  background-color: #5747ea;
  border-radius: 15px;
}

.changer__img {
  display: block;
  min-width: 78px;
  height: 78px;
  object-fit: cover;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 43px;
}

.changer__title {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 300;
  line-height: auto;
  margin: 0;
}

.changer__title::before {
  content: "Report for";
  color: #bbc0ff;
  font-size: 15px;
  line-height: auto;
  font-weight: 400;
  margin-bottom: 3px;
}

.changer__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 32px 32px 32px;
}

.changer__button {
  padding: 0;
  border: none;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  color: #7078c9;
  transition: color 0.2s ease;
  cursor: pointer;
}

.changer__button:not(:last-child) {
  margin-bottom: 21px;
}

.changer__button:hover {
  color: #ffffff;
}

.changer__button--active {
  color: #ffffff;
}

.wrapper__grid {
  display: grid;
  grid-template-columns: 255px 255px 255px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
  margin-left: 30px;
}

.grid__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  min-height: 244px;
}

.grid__card:first-child {
  background-color: #ff8b64;
  background-image: url(../img/work.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.grid__card:nth-child(2) {
  background-color: #55c2e6;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.grid__card:nth-child(3) {
  background-color: #ff5e7d;
  background-image: url(../img/study.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.grid__card:nth-child(4) {
  background-color: #4bcf82;
  background-image: url(../img/exercise.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.grid__card:nth-child(5) {
  background-color: #7335d2;
  background-image: url(../img/social.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.grid__card:nth-child(6) {
  background-color: #f1c75b;
  background-image: url(../img/self-care.svg);
  background-repeat: no-repeat;
  background-position: calc(93%) top;
}

.card__inner {
  padding: 30px;
  background-color: #1c204b;
  min-height: 199px;
  margin-top: auto;
  transition: background-color 0.2s ease;
  border-radius: 15px;
  cursor: pointer;
}

.card__inner:hover {
  background-color: #33397a;
}

.card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  line-height: auto;
  margin: 0;
}

.card__button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__time b {
  font-weight: inherit;
}
